
.categories{
    height: 700px;
    border-right: 1px solid #2ad51e;
    padding: 1rem;
    list-style: none;
    margin: 1rem 1rem 1rem 0;
    border-radius: 15px;
    position: sticky;
    top: 5rem;
  }
  .trending{
    /* position: relative;
    right: -8%;*/
    margin-top: 15px;
    height: 700px;
    border-left: 1px solid #d83a34;
    padding: 1rem;
    list-style: none;
    margin-left: 1rem;
    border-radius: 15px;
    position: sticky;
    top: 5rem;
    /* width: 200px; */
  }

  .cat-name{
    border-bottom: 1px solid rgb(58 218 47);
    color: cornflowerblue;
  }
  .trending .cat-name{
    border-bottom: 1px solid #d83a34;
    color: cornflowerblue;
  }
  .ul-list{
    list-style: none;
    padding:1rem;
    font-size: 1.05rem;
    line-height: 2.5rem;
  }
  ul li{
    display: block;
    margin: 1rem 0;
    border-left: 8px solid #30cf61;
    border-right: 2px solid rgb(207, 198, 198);
    border-top: 2px solid rgb(207, 198, 198);
    border-bottom: 2px solid rgb(207, 198, 198);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .25rem;
    background-color: #f1f3ed;
  }
  .trending ul li{
    display: block;
    margin: 1rem 0;
    border-left: 8px solid #d83a34;
    border-right: 2px solid rgb(207, 198, 198);
    border-top: 2px solid rgb(207, 198, 198);
    border-bottom: 2px solid rgb(207, 198, 198);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .25rem;
    background-color: #f1f3ed;
  }
  .arrange{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin:1rem;
  }
  .arrangement{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
    cursor: pointer;
    outline: none;
  }
  .clck{
    color:black;
  }
  .posted-time{
    padding-right:.45rem;
  }
  .discussion{
    /* border:0.5px solid black; */
    /* position: relative;
    left: 4%;
    top:50px;*/
    width:80%;
    min-width: 15rem;
    height:max-content;
    box-shadow: 0px 0px 2px 1px rgb(158, 148, 148);
    border-radius: 20px;
    margin-top: 1rem;
  }
  .discussion:first-child{
    margin-top: 2rem;
  }
  .discussion:last-child{
    margin-bottom: 2rem;
  }
  .userlogo{
    color: #2c343a;
  }
  .disc-thread{
    display: flex;
    flex-direction: column;
  }
  .top-section{
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    color: #8a3224;
  }
  .time-color{
    font-size: 1rem;
    color: #8894a0;
  }
  .subtitle{
    color: #d6ada5;
    font-size: 1rem;
  }
  .category-name{
    display: flex;
    margin:1rem;
  }
  .blue-box{
    padding: .25rem;
    border:1px solid #94c6bd;
    background-color: #e0f0fe;
    border-radius: 10px;
    display: inline-block;
    margin:0.25rem;
    font-weight: 100;
    flex-direction: row;
    cursor: pointer;
  }
  hr{
    margin: 0px;
  }
  .blue-box:hover{
    background-color: #95c6f0;
  }
  .question{
    font-weight: 600;
    padding: .5rem;
    text-align: justify;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .bottom-section{
    display: flex;
    justify-content: space-between;
    color:#64727f;
  }
  .first-bottom,.second-bottom{
    display: flex;
   
  }
  .likes,.comments,.share,.hide,.report{
    padding: 1rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
  .heffect:hover{
    color: #2c343a;
  }
  
  .clk{
    cursor: pointer;
  }

  .first{
    font-size: 1.5rem;
    margin:10px auto;
    font-weight: bold;
    text-align: center;
  }
  .fav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
  }
  .lk-color{
    color: #4e62b5;
  }
  .bk-color{
    color:#ff9900;
  }
  .cmt-icon{
    font-size: 0.9rem;
  }
  .category-name{
    display: flex;
    flex-wrap: wrap;
  }

 @media(max-width:550px)
 {
   .userlogo{
     font-size: 0.8rem;
   }
   .user-name{
     font-size: 0.9rem;
   }
   .subtitle{
     font-size: .7rem;
   }
   .time-color{
     font-size: 0.7rem;
   }
   .question{
     line-height: 1.5rem;
     font-size: 1rem;
   }
   .arrangement{
     padding: 0.5rem;
   }
   .bottom-section{
     font-size: 0.7rem;
   }
   .comments{
     margin-top: 9px;
   }
   .category-name{
     margin:0.25rem; 
     font-size: 0.75rem;
     padding: 2px; 
   }
 }