<div id="mainDiv" *ngFor="let c of comments">
	<div *ngIf="c.isReplied">
		<div *ngFor="let comment of c.anwsers">
		<section class="discussion">
			<div class="top-section">
			<div class="arrangement">
				<div class="user-logo">
				<i class="fas fa-user-circle userlogo"></i>
				</div>
				<div class="user-name">
					<span>&nbsp; Cristiano Ronaldo</span>
				</div>
			</div>
				<div class="posted-time">
				<i class="fas fa-history time-color"></i>
				<span class="time-color">&nbsp;3 hours ago</span>
				</div>
			</div>
			<div class="middle section">
			<div class="question">
				{{comment.text}}
			</div>
			</div>	
			<div class="bottom-section">
				<div class="reply heffect" (click)="togglingReplies(comment)">
					<i class="fas fa-reply"></i>
					<p>replies<sup>{{comment.anwsers.length}}</sup></p>
				</div>
			</div>
		</section>
		<button (click)="openCommentText(comment)" class="btn btn-primary replied">reply</button>
		<div *ngIf="comment.isOpen">
			<textarea [(ngModel)]="text" cols="50" rows="2" class=" "></textarea>
			<button (click)="addComment(comment)" class="btn btn-primary replied">post</button>
		</div>
	</div>
	</div>
	<comment-tree [comments]="c">
    </comment-tree>
</div>