.arrange{
  display: flex;
  margin:1rem;
}
.arrangement{
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  align-content: flex-start;
}
.clck{
  color:black;
}
.posted-time{
  padding-right:.55rem;
}
.discussion{
  /* border:0.5px solid black; */
  /* position: relative;
  left: 4%;
  top:50px;
  width:60%; */
  height:max-content;
  width: max-content;
  min-width: 80%;
  box-shadow: 0px 0px 2px 1px rgb(158, 148, 148);
  border-radius: 10px;
  margin-top: 0.8rem;
  text-align: justify;
}
.userlogo{
  color: #2c343a;
}
.disc-thread{
  display: flex;
  flex-direction: column;
}
.top-section{
  font-size: 0.8rem;
  justify-content: space-between;
  display:flex;
  color: #8a3224;
}
.time-color{
  font-size: 0.5rem;
  color: #8894a0;
}
.question{
  overflow-wrap: break-word;
  margin: 0;
  padding-left:10px;
  padding-bottom: 10px;
  padding-right: 5px;
  text-align: justify;
  font-size: 0.8rem;
  /* line-height: 1rem; */
}
.bottom-section{
  display: flex;
  justify-content: space-between;
  color:#64727f;
}
.heffect:hover{
  color: #2c343a;
}

.reply{
  font-size: 0.75rem;
  padding-left: 0.5rem;
  cursor: pointer;
}

.replied{
  font-size: 0.8rem;
  padding: 3px;
  margin: 0.25rem 0.5rem;
}

#mainDiv{
  
  padding-left: 2.6rem;
}

.txtReply{
  width: 30%;
}
@media(max-width:600px)
{
  .question{
    overflow-wrap: normal;
  }
  .top-section{
    max-width: max-content;
    font-size: 0.8rem;
  }
  .question{
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    padding: 0.2rem;
  }
  .bottom-section{
    padding: 0.5rem;
    font-size: 0.65rem;
  }
  .middle{
    font-size:0.7rem;
  }
  .blue-box{
    padding: 0.15rem;
  }
  .time-color{
    font-size: 0.6rem;
  }
  .category-name{
    margin:0.6rem
  }
  .subtitle{
    font-size: 0.5rem;
  }
  .arrangement{
    padding: 0.25rem;
  }
  .userlogo{
    font-size: 0.9rem;
  }
  .comments{
    flex-direction: column;
  }
  .form-control{
    margin-bottom: 0.5rem;
    min-width: 12rem;
  }
   .post-comment{
     font-size: .75rem;
   }
}