<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <nav class="main-navbar">
      <div class="navbar-first">

        <div class="logo">

        </div>
        <div class="logo-name main-color">
          Doubts Forum
        </div>
      </div>
      <div class="navbar-second">
        <div class="post-doubts main-color">
          POST
        </div>
        <div class="resolved-doubts main-color">
          RESOLVED
        </div>
        <div class="account main-color" >
          ACCOUNT
        </div>
      </div>

   </nav>
      <section class="categories">
          <h5 class="cat-name">CATEGORIES</h5>
          <ul class="ul-list">
            <li>General</li>
            <li>Technology</li>
            <li>Gaming</li>
            <li>Sports</li>
            <li>Travel</li>
            <li>Politics</li>
            <li>Health</li>
            <li>Fashion</li>
            <li>Education</li>
          </ul>
      </section>
</body>
</html>

<router-outlet></router-outlet>
