
   <nav class="main-navbar">
      <div class="navbar-first">

        <div class="logo">

        </div>
        <div class="logo-name main-color" routerLinkActive='Active' routerLink=''>
          Doubts Forum
        </div>
      </div>
      <div class="navbar-second">
        <div class="post-doubts main-color" routerLinkActive='Active' routerLink='post'>
          POST
        </div>
        <div class="resolved-doubts main-color">
          RESOLVED
        </div>
        <div class="account main-color" >
          ACCOUNT
        </div>
      </div>
   </nav>
<router-outlet></router-outlet>
