
.categories{
    height: max-content;
    border-right: 1px solid #2ad51e;
    padding: 1rem;
    list-style: none;
    margin: 1rem 1rem 1rem 0;
    border-radius: 15px;
    position: sticky;
    top: 5rem;
  }
  .trending{
    /* position: relative;
    right: -8%;*/
    margin-top: 15px;
    height: max-content;
    border-left: 1px solid #d83a34;
    padding: 1rem;
    list-style: none;
    margin-left: 1rem;
    border-radius: 15px;
    position: sticky;
    top: 5rem;
    /* width: 200px; */
  }

  .cat-name{
    border-bottom: 1px solid rgb(58 218 47);
    color: cornflowerblue;
  }
  .trending .cat-name{
    border-bottom: 1px solid #d83a34;
    color: cornflowerblue;
  }
  .ul-list{
    list-style: none;
    padding:1rem;
    font-size: 1.05rem;
    line-height: 2.5rem;
  }
  ul li{
    display: block;
    margin: 1rem 0;
    border-left: 8px solid #30cf61;
    border-right: 2px solid rgb(207, 198, 198);
    border-top: 2px solid rgb(207, 198, 198);
    border-bottom: 2px solid rgb(207, 198, 198);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .25rem;
    /* background-color: #f1f3ed; */
    width: max-content;
    min-width: 7rem;
  }
  .trending ul li{
    display: block;
    margin: 1rem 0;
    border-left: 8px solid #d83a34;
    border-right: 2px solid rgb(207, 198, 198);
    border-top: 2px solid rgb(207, 198, 198);
    border-bottom: 2px solid rgb(207, 198, 198);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: .25rem;

    width: max-content;
    min-width: 7rem;
  }
  .arrange{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin:1rem;
  }
  .arrangement{
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-content: flex-start;
    cursor: pointer;
    outline: none;
  }
  .clck{
    color:black;
  }
  .posted-time{
    padding-right:.45rem;
  }
  .discussion{
    /* border:0.5px solid black; */
    /* position: relative;
    left: 4%;
    top:50px;
    width:100%;*/
    position: relative;
    min-width: 15rem;
    height:max-content;
    box-shadow: 0px 0px 2px 1px rgb(158, 148, 148);
    border-radius: 20px;
    margin-top: 1rem;
    background-color:white;
    /* animation: slide 0.6s ease; */
    /* transition: all 5s; */
/*
B2DDF7
81D6E3
BFDBF7
CCFFCB
CEFDFF
F7FFDD
CEDFD9
F1F7ED
F3EFF5
BEE7B8

*/
  }

  .discussion:first-child{
    margin-top: 2rem;
  }
  .discussion:last-child{
    margin-bottom: 2rem;
  }
  .userlogo{
    color:white;
  }
  .disc-thread{
    display: flex;
    flex-direction: column;
  }
  .top-section{
    font-size: 1.5rem;

    display:flex;
    justify-content: space-between;
    color: white;
    background-color: #0c406d;
    border-radius: 20px 20px 0 0;
  }
  .time-color{
    font-size: 1rem;
    color: #8894a0;
  }
  .subtitle{
    color: #d6ada5;
    font-size: 1rem;
  }
  .category-name{
    display: flex;
    margin:1rem;
  }
  .blue-box{
    padding: .25rem;
    border:1px solid #94c6bd;
    background-color: #e0f0fe;
    border-radius: 10px;
    display: inline-block;
    margin:0.25rem;
    font-weight: 100;
    flex-direction: row;
    cursor: pointer;
  }
  hr{
    margin: 0px;
  }
  .blue-box:hover{
    background-color: #95c6f0;
  }
  .question{
    font-weight: 600;
    padding: .5rem;
    text-align: justify;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    line-height: 2rem;
    color: rgb(71, 71, 71);
    letter-spacing: 1px;
  }
  .bottom-section{
    display: flex;
    justify-content: space-between;
    color:#64727f;
    margin-top: 0.25rem;
  }
  .first-bottom,.second-bottom{
    display: flex;

  }
  .likes,.comments,.share,.hide,.delete{
    padding: 1rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
  }
  .heffect:hover{
    color: #2c343a;
  }


  .clk,.cl{
    cursor: pointer;
  }
  .clk,.cl{
    position: relative;
    z-index: 1;
    padding: .25rem;
  }
  .cl::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    top:0;
    left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    z-index: -1;
    background: #d83a34;
    transition: transform 500ms ease;
    transform-origin: right;
  }
  .clk::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    top:0;
    left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    z-index: -1;
    background: #30cf61;
    transition: transform 500ms ease;
    transform-origin: right;
  }

  .clk:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  }
  .cl:hover::after{
    transform-origin: left;
    transform: scaleX(1);
  }

  /* d9ddcb */
  .first{
    font-size: 1.5rem;
    margin:10px auto;
    font-weight: bold;
  }

  .lk-color{
    color: #4e62b5;
  }
  .bk-color{
    color:#ff9900;
  }
.category-name{
  display: flex;
  flex-wrap: wrap;
}

.icon-cl{
  color:rgb(81, 204, 241);
}


/* ::scrollbar{
	width: 20px;
}
::-scrollbar-track{
	border:1px solid #232943;
}
::-scrollbar-thumb{
	background: linear-gradient(to bottom, #9ae197,#64e4e0);
} */
/* #0c406d */
/* media queries*/
@media(max-width:1670px)
{
  .arrange{
    grid-template-columns:15% 70% 15%;
  }
}

@media(max-width:1120px)
{
  .arrange{
    grid-template-columns:20% 60% 20%;
  }
}


@media(max-width:850px)
{
  .arrange{
    grid-template-columns:25% 50% 25%;
  }
}


@media(max-width:700px)
{
  .trending{
    display: none;
  }
  .arrange{
    grid-template-columns: 30% 70%;
  }
}

@media(max-width:580px)
{
  .userlogo{
    font-size: 0.8rem;
  }
  .user-name{
    font-size: 0.9rem;
  }
  .subtitle{
    font-size: .7rem;
  }
  .time-color{
    font-size: 0.7rem;
  }
  .question{
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .arrangement{
    padding: 0.5rem;
  }
  .bottom-section{
    font-size: 0.7rem;
  }
  .comments{
    margin-top: 9px;
  }
  .category-name{
    margin:0.25rem;
    font-size: 0.75rem;
    padding: 2px;
  }
  .ul-list{
    font-size: 0.75rem;
    line-height: 2rem;
    padding: 0;
  }
  ul li{
    padding: 1px;
    min-width: 5rem;
    margin:0.5rem;
  }
  .categories{
    margin-right:1rem;
    padding: 0;
  }
}

@media(max-width:400px){
  .arrange{
    display: flex;
    flex-direction: column;
  }
  .categories{
    height: max-content;
    position: relative;
    top:1rem;
  }
  .ul-list
  {
    display: flex;
    flex-wrap: wrap;
  }
  ul li{
    display: inline;
  }
}
