<div class="comment-section">
    <section class="discussion" routerLinkActive="Active" routerLink="commenting">
        <div class="top-section">
        <div class="arrangement">
            <div class="user-logo">
            <i class="fas fa-user-circle fa-2x userlogo"></i>
            </div>
            <div class="user-name">
            <span>&nbsp; Cristiano Ronaldo</span>
            <p class="subtitle">&nbsp;&nbsp;&nbsp;&nbsp;Student</p>
            </div>
        </div>
            <div class="posted-time">
            <i class="fas fa-history time-color"></i>
            <span class="time-color">&nbsp;3 hours ago</span>
            </div>
        </div>
        <hr>
        <div class="middle section">
        <div class="category-name">
            <span class="blue-box">Technology</span>&nbsp;&nbsp;
            <span class="blue-box">Sports</span>
        </div>
        <div class="question">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt architecto aliquid repellat iure consequuntur? Blanditiis quibusdam odio, explicabo enim labore obcaecati recusandae voluptate tenetur cum, id consectetur molestias corrupti reprehenderit!
        </div>
        </div>
    </section>
    <div class="cmt-tree">
        <comment-tree [comments]="comments">
        </comment-tree>
    </div>
    <footer class="comments">
        <textarea id="txt-area" cols="30" rows="3" class="form-control" [(ngModel)]="data"></textarea>
        <button type="submit" class="btn btn-primary post-comment" (click)="addToComment()">Post</button>
    </footer>
</div>