<div class="comment-section" *ngIf="comment">
    <section class="discussion">
        <div class="top-section">
        <div class="arrangement" routerLinkActive="Active" routerLink="/profile/{{comment.username}}">
            <div class="user-logo">
            <i class="fas fa-user-circle fa-2x userlogo"></i>
            </div>
            <div class="user-name">
            <span>&nbsp; {{comment.username}}</span>
            <span class="subtitle">&nbsp;&nbsp;&nbsp;&nbsp;{{comment.profession}}</span>
            </div>
        </div>
            <div class="posted-time">
            <i class="fas fa-history time-color"></i>
            <span class="time-color">&nbsp;{{comment.postedtime}}</span>
            </div>
        </div>
        <hr>
        <div class="middle section">
        <div class="category-name">
            <div *ngFor="let cat of comment.categories">
            <span class="blue-box">{{cat}}</span>&nbsp;&nbsp;
            </div>
        </div>
        <div class="question">
             {{comment.description}}
        </div>
        </div>
        <div class="bottom-section">
              <div class="likes heffect" (click)="togglingReplies()">
                <i class="fas fa-reply"></i>
                <p>replies<sup>{{comment.comment}}</sup></p>
              </div>
        </div>
    </section>
    <div class="cmt-tree" >
        <comment-tree *ngIf="isReplied" [comments]="MainComments">
        </comment-tree>
    </div>
    <footer class="comments">
        <textarea id="txt-area" cols="100" rows="2" class="form-control" [(ngModel)]="data"></textarea>
        <button type="submit" class="btn btn-primary post-comment"  routerLinkActive="Active"   (click)="addToComment() ">Comment</button>
    </footer>

   
    </div>


