.chek{
  width:70%;
  margin: 5px auto;
  border:8px solid #f1f1f1;
  height: 50vh;
  padding:0.75rem;
  display: flex;
  justify-content: center;
flex-direction:column;
align-items: center;
}
.upda{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head{
  /* margin: 1rem auto; */
  /* margin-bottom: 50px; */
  position: relative;
  top:1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
}
body{
  /* background:linear-gradient(to right, rgba(156, 163, 219,.5),#d6d8d7); */
  background:linear-gradient(to bottom left, #8ed39f,#7dcacf);
  color:white;
  height: 200vh;
}
.form-group{
  padding: 0.5rem;
  width:20rem;
}
.form-check{

  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width:800px)
{
  .head{
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  body{
    height: 120vh;
  }
}

@media(max-width:480px)
{
  .form-group{
    width: 12.5rem;
  }
  .chek{
    height: 55vh;
  }
}
@media(max-width:320px)
{ .chek{
  height: 60vh;
  }
  .form-group{
    width: 10rem;
    padding: 0.8rem;
  }
}