.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
h1{
  margin: 25px auto;
  text-align: center;
  color: blueviolet;
  border-bottom:1px solid antiquewhite;
}
  .post-form{
    position: relative;
    left: 30%;
    top:10%;
  }
.category{
  width: 20%;
  top: 1rem;
  left: 5px;
}
.question{
  margin-top:1rem;
  width:50%;
  margin-left: 5px;
}

.post-btn
{
  margin-top: 0.75rem;
  margin-left: 5px;
  background-color: rgb(160, 137, 241);
  cursor: pointer;
}
.post-btn:hover{
  background-color: rgb(145, 17, 236);
}
