<body>
	<button class="btn btn-primary upd" routerLinkActive="Active" routerLink="updprof">Update Profile</button>
	<h1 class="prof">Profile</h1>
<div class="wrapper">

    <div class="left">
      <i class="fas fa-user fa-7x imgg"></i>
        <h5>User</h5><p class="usern">hellooo</p>
         <h4><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Location</h4>
    </div>
    <div class="right">
        <div class="info">
            <h3 class="inf">information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>abcdef@gmail.com</p>
                 </div>
                 <div class="data">
                   <h4>Mobile</h4>
                    <p>9876543213</p>
                 </div>
                 <div class="data">
                  <h4>State</h4>
                  <p>Telangana</p>
                 </div>
               <div class="data">
                <h4>Address</h4>
                <p>Address</p>
               </div>
               <div class="data">
                <h4>City</h4>
                <p>Hyderabad</p>
             </div>
            </div>
        </div>




    </div>
</div>
</body>
